div#board {
    width: 100%;
    height: auto;
    background-color: rgb(255, 194, 0);
    margin-top: 0px;
}
div#title {
    width: 100%;
    height: 200px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.85);
}
#title p1 {
    font-family: "청소년체";
    position: relative;
    /* color: orangered; */
    font-size: 65px;
    font-weight: 600;
    top: 35px;
}
#title p2 {
    font-family: "청소년체";
    position: relative;
    color: black;
    font-size: 19px;
    /* font-weight: 600; */
    top: 50px;
}
div#sub_menu {
    width: 100%;
    height: 50px;
    background-color: white;
    /* background-color: rgb(12, 139, 51); */
    text-align: center;
    color: rgb(12, 139, 51);
}
#sub_menu a {
    font-family: "청소년체";
    position: relative;
    text-decoration: none;
    font-weight: 500;
    margin: 0px 10px 0px 10px;
    top: 13px;
    font-size: 17px;
}
#sub_menu a:link {color: black;}        
#sub_menu a:visited {color :black;}
#sub_menu a:hover {
    color: rgb(12, 139, 51);
    text-decoration: underline;
}
#sub_menu a:active {
    color: rgb(12, 139, 51);
    text-decoration: underline;
}
/* #sub_menu a:link#selected {
    color: rgb(12, 139, 51);
    text-decoration: underline;
}
#sub_menu a:visited#selected {
    color: rgb(12, 139, 51);
    text-decoration: underline;
} */
table#menu_table {
    /* margin: 10px 100px 20px 160px; */
    border-spacing: 30px;
    border-color: rgb(255, 194, 0);
    margin-left: auto;
    margin-right: auto;
}
#menu_table tr {
    width: 100%;
    height: 330px;
}
#menu_table td {
    width: 370px;
    height: auto; 
}
#menu_table img {
    width: 100%;
    height: auto;
}
div#index {
    width: 180px;
    height: 30px;
    background-color: rgb(12, 139, 51);
    color: white;
    font-family: "청소년체";
    text-align: center;
    padding-top: 10px;
    font-size: 17px;
    /* font-weight: bold; */
}
div#go_up {
    width: 50px;
    height: 50px;
    position: fixed;
    border-radius: 50px 50px 50px 50px;
    bottom: 20px;
    right: 20px;
    background-color: white;
}